* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  color: #00231C;
  background-color: #F7F7F7;
  font-size: 62.4%;
}

body,
html {
  margin: 0;
  padding: 0;
}

.marker {
  display: none;
}

header {
  background-color: #96BAA0;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

#Head-top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logo {
  width: 150px;
  margin-right: auto;
}

h1#name {
  font-size: 3.6rem;
  font-family: Arial;
  font-weight: bold;
  text-align: left;
  flex: 1;
}

.page-title {
  display: flex;
  align-items: center;
  h1 {
    font-size: 3.6rem;
  font-family: Arial;
  font-weight: bold;
  text-align: center;
  flex: 1;
  }
}

.navbutton a,
.navlinks a {
  font-family: arial;
  font-weight: bold;
  text-decoration: none;
  color: #00231C;
  margin: 0px;
  font-size: 18px;
  display: inline-block;
  padding: 5px;
}

.navbutton a:hover,
.navlinks a:hover {
  background-color: #BDD4DA;
  color: #00231C;
}

.navbutton {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  height: 50px;
  width: 50px;
}

nav i {
  font-size: 30px;
  color: #F0C06D;
}

.navbutton:hover i {
  color: #00231C;
}

.navlinks {
  display: none;
  list-style: none;
}

.navlinks li {
  display: inline;
}

.navlinks-mobile {
  list-style: none;
  display: none;
  position: absolute;
  margin: 0;
  padding: 20px;
  background-color: #96BAA0;
  width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  top: 45px;
  left: -140px;
}

.navbutton:hover .navlinks-mobile {
  display: block;
}

@media all and (min-width:800px) {
  header {
    flex-direction: row;
  }

  .navlinks {
    display: inline-block;
  }

  .navbutton {
    display: none;
  }

  .categories {
    display: grid;
    grid-template-columns: auto auto;
  }

  .column td {
    width: 75%;
  }
}

main {
  width: auto;
  max-width: 95%;
  margin: 0 auto;
}

/*====================Footer====================*/
footer {
  background-color: #96BAA0;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: relative;
}

.footer-links {
  width: fit-content;
  position: absolute;

  div {
    padding: 3px;
  }
}

.footer-links a {
  font-family: arial;
  font-weight: bold;
  color: #00231C;
  text-decoration: none;
  font-size: 1.3rem;
}

.newsletter {
  width: 50%;
  text-align: center;
  position: relative;
  margin-right: auto;
  margin-left: auto;

}

.newsletter h2 {
  font-family: arial;
  font-weight: bold;
  font-size: 1.8rem;
}

.social {
  max-width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: right;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.social a {
  margin: 0 10px;
  text-decoration: none;
  color: #00231C;
  font-size: 1.8rem;
}

.social img {
  width: 30px;
}

/*====================buttons====================*/
input[type="submit"],
input[type="reset"],
button {
  background-color: #014038;
  color: #F7F7F7;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 25%;
  font-family: arial;
  font-weight: bold;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
  background-color: #F0C06D;
  color: #00231C;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 50%;
  padding: 10px;
  border: 1px solid #F0C06D;
  border-radius: 5px;
  font-family: Arial;
  color: #00231C;
}

/*====================Promos====================*/
.promo-box {
  background-color: #BDD4DA;
  padding: 22px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.promo {
  display: inline-block;
  background-color: #F7F7F7;
  padding: 10px;
  margin: 2px;
  border: 1px solid #F0C06D;
  border-radius: 15px;
  text-align: center;
  vertical-align: top;
  width: 90%;
}

.promo h3 {
  font-size: 1.8rem;
  font-family: 'Calibri';
  font-weight: normal;
  color: #00231C;
}

/*====================highlights====================*/
.highlights {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #BDD4DA;
  margin-bottom: 20px;
  padding: 10px;
}

.shopnow {
  display: flex;

}

.photos {
  display: flex;
  flex-direction: row;
}

.highlight-descriptions {
  display: flex;
  flex-direction: row;
}

.photos img {
  max-width: 100%;
  padding: 10px;
}

.photos p {
  font-family: 'Calibri';
  font-weight: normal;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

/*====================Perks====================*/

#perks {
  background-color: #BDD4DA;
  padding: 22px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#perks h2 {
  font-size: 2.4rem;
  font-family: arial;
  font-weight: bold;
}

.perk {
  display: inline-block;
  background-color: #F7F7F7;
  padding: 10px;
  margin: 2px;
  border: 1px solid #F0C06D;
  border-radius: 15px;
  text-align: center;
  vertical-align: top;
  width: 90%;
}

.perk-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.perk h3 {
  font-size: 1.8rem;
  font-family: 'Calibri';
  font-weight: normal;
}

/*====================Categories====================*/
.category-section {
  background-color: #BDD4DA;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  padding: 22px;
}

.category-section h2 {
  font-size: 2.4rem;
  font-family: arial;
  font-weight: bold;
}

.categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.column {
  width: 100%;
  text-align: center;
  border-spacing: 20px;
}

.column td {
  width: calc(50% - 10px);
  margin: 5px auto;
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #F0C06D;
  border-radius: 15px;
  text-align: center;
  font-size: 1.6rem;
  font-family: 'Calibri';
  font-weight: normal;
}

/*====================Gallery====================*/
#gallery {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

#gallery h2 {
  font-size: 2.4rem;
  font-family: Arial;
  font-weight: bold;
}

#view-cart {
  width: 10%;
}

#cart {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#cart .modal-content {
  background-color: #F7F7F7;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #F0C06D;
  border-radius: 15px;
  width: 50%;

  h2 {
    font-size: 2.4rem;
    font-family: Arial;
    font-weight: bold;
  }
}

.close {
  color: #00231C;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #F0C06D;
  text-decoration: none;
  cursor: pointer;
}

#cart-container {
  font-size: 1.6rem;
  padding: 5px;

  div {
    padding: 3px;
    font-family: 'Calibri';
    font-weight: normal;
  }
}

#products {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 30px;
  padding: 20px;
}

.product {
  background-color: #BDD4DA;
  text-align: center;
  padding: 20px 0;
}

.product img {
  width: 50%;
}

.product h3 {
  font-size: 1.6rem;
  font-family: Arial;
  font-weight: bold;
}

.product p {
  font-size: 1.4rem;
  font-family: 'calibri';
  font-weight: normal;
}

/*====================About Us====================*/
.about {
  background-color: #BDD4DA;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  padding: 22px;

  h2 {
    font-size: 2.4rem;
    font-family: Arial;
    font-weight: bold;
  }

  p {
    text-align: left;
    font-size: 1.6rem;
    font-family: 'calibri';
    font-weight: normal;
  }
}

.hours {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #BDD4DA;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  padding: 22px;

  h2 {
    font-size: 2.4rem;
    font-family: Arial;
    font-weight: bold;
  }

  font-size: 1.6rem;
}

.hours-table {

  width: calc(50% - 10px);
  margin: 5px auto;
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #F0C06D;
  border-radius: 15px;
  text-align: center;
  font-size: 1.6rem;
  font-family: 'calibri';
  font-weight: normal;

  th,
  td {
    width: 50%;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #BDD4DA;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  padding: 22px;

  h2 {
    font-size: 2.4rem;
    font-family: Arial;
    font-weight: bold;
  }
}

.contact-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 75%;

  h3 {
    font-size: 1.6rem;
    font-family: Arial;
    font-weight: bold;
  }
}

.contact-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-order {
  display: flex;
  flex-direction: row;
}

.feedback {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  textarea {
    width: 75%;
    height: 200px;
  }
}

.feedback-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;

}

/*====================Community====================*/
#spotlight {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  gap: 30px;
  padding: 22px;
  align-items: center;
  background-color: #BDD4DA;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;

  H3 {
    font-size: 1.6rem;
    font-family: Arial;
    font-weight: bold;
  }

  p {
    font-size: 1.4rem;
    font-family: 'calibri';
    font-weight: normal;
    padding: 10px;
  }
}

.testimony {
  background-color: #F7F7F7;
  text-align: center;
  padding: 20px 0;
  border: 3px solid #F0C06D;
  border-radius: 15px;
  height: 350px;

  img {
    width: 50%;
  }
}

#community {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #BDD4DA;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  padding: 22px;
}

.community {
  background-color: #f7f7f7;
  text-align: center;
  padding: 20px 0;
  border: 3px solid #F0C06D;
  border-radius: 15px;
  width: 90%;
  margin-bottom: 10px;

  h3 {
    font-size: 2.4rem;
    font-family: Arial;
    font-weight: bold;
  }

  p {
    font-size: 1.6rem;
    font-family: 'calibri';
    font-weight: normal;
    text-align: left;
    width: 95%;
    margin-left: 15px;
  }
}

.events {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #BDD4DA;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  padding: 22px;

  h3 {
    font-size: 2.4rem;
    font-family: Arial;
    font-weight: bold;
  }

  p {
    font-size: 1.6rem;
    font-family: 'calibri';
    font-weight: normal;
    text-align: left;
    width: 90%;
  }
}

@media all and (max-width:800px) {
  .promo-box {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .perk-box {
    flex-direction: column;
  }

  footer {
    position: static;
    flex-direction: column-reverse;
  }

  .footer-links {
    display: flex;
    position: static;
    flex-direction: row;

  }

  .footer-links div {
    padding: 10px;
  }

  .social {
    position: static;
  }

  #view-cart {
    width: 25%;
  }

  #products {
    display: flex;
    flex-direction: column;
  }

  .hours-table {
    width: 75%;
  }

  .contact-box {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .contact-info,
  .feedback {
    width: 100%;
  }

  #spotlight {
    display: flex;
    flex-direction: column;
  }
}